@{
    ViewBag.Title = "EPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/epllist.js")"></script>
}

<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" title=".: Estimate Profit and Loss :.">
    <div id="epl_toolbar" class="grid_toolbar">
        <div style="float: left">
            <a id="epl_btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
            <a id="epl_btn_add_new" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
            <a id="epl_btn_edit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit Data</a>
            <a id="epl_btn_del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
            <a id="epl_btn_undel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'">Un-Delete</a>
            <a id="btn_confirm" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Confirm</a>
            <a id="btn_unconfirm" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Unconfirm</a>
            <a id="epl_btn_close" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-book'">Close</a>
            <a id="epl_btn_unclose" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undelete'">Un-Close</a>
            <a id="epl_btn_print" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print EPL</a>
        </div>
        <div id="freighttype" style="float: right; background: #dc381f; color: #fff; height: 25px; padding: 0 10px; font-size: 12px;">
            <label style="font-size: 14px; font-weight: bold">Job:</label>
            <select id="jobtype">
             @*   @foreach (var item in Model.listJob)
                {
                    *@<option value="10">PPJK</option>
              @*  }*@
            </select>
        </div>
    </div>
    <div style="clear: both"></div>

    <div id="epl_panel">
        <table id="list_epl" class="scroll list_master" cellpadding="0" cellspacing="0"></table>
        <div id="pager_list_epl" class="scroll" style="text-align: center;"></div>
    </div>
    </div>

     

